.select2-container--default {display:block;}
.select2-container--default .select2-selection {background-color:#fff;border:1px solid #e2e5ec;border-radius:4px;color:#595d6e;font-size:14px;outline:0;}
.select2-container--default .select2-search--dropdown {padding:15px 15px;}
.select2-container--default .select2-search--dropdown .select2-search__field {background:url(search.png) no-repeat center left 0.5rem;border:1px solid #e2e5ec;outline:none!important;border-radius:4px;padding:4px;padding-left:1.7rem;width:100%;}
.select2-container--default .select2-search__field {outline:0;}
.select2-container--default .select2-search__field::-webkit-input-placeholder {color:#999;}
.select2-container--default .select2-search__field:-moz-placeholder {color:#999;}
.select2-container--default .select2-search__field::-moz-placeholder {color:#999;opacity:1;}
.select2-container--default .select2-search__field:-ms-input-placeholder {color:#999;}
.select2-container--default .select2-results__option {padding:1rem;}
.select2-container--default .select2-results__option[role=group] {padding:0;}
.select2-container--default .select2-results__option[aria-disabled=true] {color:#777777;cursor:not-allowed;}
.select2-container--default .select2-results__option[aria-selected=true] {background-color:#f7f8fa;color:#74788d;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color:#f7f8fa;color:#74788d;}
.select2-container--default .select2-results__option .select2-results__option {padding:6px 12px;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {padding-left:0;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {margin-left:-12px;padding-left:24px;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left:-24px;padding-left:36px;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left:-36px;padding-left:48px;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left:-48px;padding-left:60px;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left:-60px;padding-left:72px;}
.select2-container--default .select2-results__group {color:#777777;display:block;padding:6px 12px;font-size:12px;line-height:1.428571429;white-space:nowrap;}
.select2-container--default.select2-container--focus .select2-selection,
.select2-container--default.select2-container--open .select2-selection {-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:box-shadow ease-in-out 0.15s;-o-transition:box-shadow ease-in-out 0.15s;transition:box-shadow ease-in-out 0.15s;border-color:#9aabff;}
.select2-container--default.select2-container--open {}
.select2-container--default.select2-container--open[dir] {z-index:1500;}
.select2-container--default.select2-container--open .select2-selection .select2-selection__arrow b {border-color:transparent transparent #999 transparent;border-width:0 4px 4px 4px;}
.select2-container--default.select2-container--open.select2-container--below .select2-selection {border-bottom-right-radius:0;border-bottom-left-radius:0;border-bottom-color:transparent;}
.select2-container--default.select2-container--open.select2-container--above .select2-selection {-webkit-box-shadow:inset 0 0;box-shadow:inset 0 0;border-top-right-radius:0;border-top-left-radius:0;border-top-color:transparent;}
.select2-container--default .select2-selection__clear {color:#999;cursor:pointer;float:right;font-weight:bold;margin-right:10px;}
.select2-container--default .select2-selection__clear:hover {color:#333;}
.select2-container--default.select2-container--disabled .select2-selection {border-color:#e2e5ec;-webkit-box-shadow:none;box-shadow:none;}
.select2-container--default.select2-container--disabled .select2-selection,
.select2-container--default.select2-container--disabled .select2-search__field {cursor:not-allowed;}
.select2-container--default.select2-container--disabled .select2-selection,
.select2-container--default.select2-container--disabled .select2-selection--multiple .select2-selection__choice {background-color:#eeeeee;}
.select2-container--default.select2-container--disabled .select2-selection__clear,
.select2-container--default.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove {display:none;}
.select2-container--default .select2-dropdown {min-width:fit-content;border-top-width:1px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);border-color:#9aabff;overflow-x:hidden;margin-top:-1px;}
.select2-container--default .select2-dropdown--above {border-bottom-width:1px;margin-top:1px;}
.select2-container--default .select2-results > .select2-results__options {max-height:200px;overflow-y:auto;}
.select2-container--default .select2-selection--single {height:calc(1.5em + 1.3rem + 2px);line-height:1.428571429;padding:0.65rem 1rem;}
.select2-container--default .select2-selection--single .select2-selection__arrow {position:absolute;bottom:0;right:12px;top:0;width:4px;height:inherit;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color:#999 transparent transparent transparent;border-style:solid;border-width:4px 4px 0 4px;height:0;left:0;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color:#595d6e;padding:0;line-height:unset;}
.select2-container--default .select2-selection--single .select2-selection__placeholder {color:#999;}
.select2-container--default .select2-selection--multiple {min-height:calc(1.5em + 1.3rem + 2px);}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {box-sizing:border-box;display:block;line-height:1.428571429;list-style:none;margin:0;overflow:hidden;padding:0.325rem 1rem 0 1rem;width:100%;text-overflow:ellipsis;white-space:nowrap;}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {color:#999;float:left;margin-top:5px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice {color:#595d6e;background:#fff;border:0;border-radius:4px;cursor:default;float:left;margin:0.325rem 0 0 0;padding:0;}
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {background:transparent;padding:0;height:2rem;line-height:1.428571429;margin-top:0;min-width:5em;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {transition:font-size 0.3s,margin 0.3s;margin:0 0;font-size:0;float:right;color:#999;cursor:pointer;display:inline-block;font-weight:normal;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {color:#333;}
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover .select2-selection__choice__remove {margin:0 3px;font-size:14px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice:not(:nth-last-child(2)) .select2-selection__choice__remove:after {content:', ';font-size:14px;margin-right:3px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice:not(:nth-last-child(2)):hover .select2-selection__choice__remove:after {margin-left:3px;}
.select2-container--default .select2-selection--multiple .select2-selection__clear {margin-top:0.325rem;margin-right:0;}
.select2-container--default.input-sm,
.select2-container--default.input-lg {border-radius:0;font-size:12px;height:auto;line-height:1;padding:0;}
.select2-container--default.input-sm .select2-selection--single,
.input-group-sm .select2-container--default .select2-selection--single,
.form-group-sm .select2-container--default .select2-selection--single {border-radius:3px;font-size:12px;height:30px;line-height:1.5;padding:5px 22px 5px 10px;}
.select2-container--default.input-sm .select2-selection--single .select2-selection__arrow b,
.input-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow b,
.form-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow b {margin-left:-5px;}
.select2-container--default.input-sm .select2-selection--multiple,
.input-group-sm .select2-container--default .select2-selection--multiple,
.form-group-sm .select2-container--default .select2-selection--multiple {min-height:30px;}
.select2-container--default.input-sm .select2-selection--multiple .select2-selection__choice,
.input-group-sm .select2-container--default .select2-selection--multiple .select2-selection__choice,
.form-group-sm .select2-container--default .select2-selection--multiple .select2-selection__choice {font-size:12px;line-height:1.5;margin:4px 0 0 5px;padding:0 5px;}
.select2-container--default.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-sm .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-sm .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {padding:0 10px;font-size:12px;height:28px;line-height:1.5;}
.select2-container--default.input-sm .select2-selection--multiple .select2-selection__clear,
.input-group-sm .select2-container--default .select2-selection--multiple .select2-selection__clear,
.form-group-sm .select2-container--default .select2-selection--multiple .select2-selection__clear {margin-top:5px;}
.select2-container--default.input-lg .select2-selection--single,
.input-group-lg .select2-container--default .select2-selection--single,
.form-group-lg .select2-container--default .select2-selection--single {border-radius:6px;font-size:18px;height:46px;line-height:1.3333333;padding:10px 31px 10px 16px;}
.select2-container--default.input-lg .select2-selection--single .select2-selection__arrow,
.input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow,
.form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow {width:5px;}
.select2-container--default.input-lg .select2-selection--single .select2-selection__arrow b,
.input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow b,
.form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow b {border-width:5px 5px 0 5px;margin-left:-5px;margin-left:-10px;margin-top:-2.5px;}
.select2-container--default.input-lg .select2-selection--multiple,
.input-group-lg .select2-container--default .select2-selection--multiple,
.form-group-lg .select2-container--default .select2-selection--multiple {min-height:46px;}
.select2-container--default.input-lg .select2-selection--multiple .select2-selection__choice,
.input-group-lg .select2-container--default .select2-selection--multiple .select2-selection__choice,
.form-group-lg .select2-container--default .select2-selection--multiple .select2-selection__choice {font-size:18px;line-height:1.3333333;border-radius:4px;margin:9px 0 0 8px;padding:0 10px;}
.select2-container--default.input-lg .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-lg .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-lg .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {padding:0 16px;font-size:18px;height:44px;line-height:1.3333333;}
.select2-container--default.input-lg .select2-selection--multiple .select2-selection__clear,
.input-group-lg .select2-container--default .select2-selection--multiple .select2-selection__clear,
.form-group-lg .select2-container--default .select2-selection--multiple .select2-selection__clear {margin-top:10px;}
.select2-container--default.input-lg.select2-container--open .select2-selection--single {}
.select2-container--default.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color:transparent transparent #999 transparent;border-width:0 5px 5px 5px;}
.input-group-lg .select2-container--default.select2-container--open .select2-selection--single {}
.input-group-lg .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color:transparent transparent #999 transparent;border-width:0 5px 5px 5px;}
.select2-container--default[dir="rtl"] {}
.select2-container--default[dir="rtl"] .select2-selection--single {padding-left:24px;padding-right:12px;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__rendered {padding-right:0;padding-left:0;text-align:right;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {float:left;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {left:12px;right:auto;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow b {margin-left:0;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {float:right;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {margin-left:0;margin-right:6px;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {margin-left:2px;margin-right:auto;}

/*------------------------------------*\
    #ADDITIONAL GOODIES
\*------------------------------------*/
.has-warning .select2-container--default .select2-dropdown,
.has-warning .select2-container--default .select2-selection {border-color:#8a6d3b;}
.has-warning .select2-container--default.select2-container--focus .select2-selection,
.has-warning .select2-container--default.select2-container--open .select2-selection {-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;border-color:#66512c;}
.has-warning.select2-container--default .select2-drop-active {border-color:#66512c;}
.has-warning.select2-container--default .select2-drop-active.select2-drop.select2-drop-above {border-top-color:#66512c;}

.has-error .select2-container--default .select2-dropdown,
.has-error .select2-container--default .select2-selection {border-color:#a94442;}
.has-error .select2-container--default.select2-container--focus .select2-selection,
.has-error .select2-container--default.select2-container--open .select2-selection {-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;border-color:#843534;}
.has-error.select2-container--default .select2-drop-active {border-color:#843534;}
.has-error.select2-container--default .select2-drop-active.select2-drop.select2-drop-above {border-top-color:#843534;}

.has-success .select2-container--default .select2-dropdown,
.has-success .select2-container--default .select2-selection {border-color:#3c763d;}
.has-success .select2-container--default.select2-container--focus .select2-selection,
.has-success .select2-container--default.select2-container--open .select2-selection {-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;border-color:#2b542c;}
.has-success.select2-container--default .select2-drop-active {border-color:#2b542c;}
.has-success.select2-container--default .select2-drop-active.select2-drop.select2-drop-above {border-top-color:#2b542c;}

.input-group .select2-container--default {display:table;table-layout:fixed;position:relative;z-index:2;float:left;width:100%;margin-bottom:0;}

.input-group.select2-default-prepend .select2-container--default .select2-selection {border-bottom-left-radius:0;border-top-left-radius:0;}

.input-group.select2-default-append .select2-container--default .select2-selection {border-bottom-right-radius:0;border-top-right-radius:0;}

.select2-default-append .select2-container--default,
.select2-default-append .input-group-btn,
.select2-default-append .input-group-btn .btn,
.select2-default-prepend .select2-container--default,
.select2-default-prepend .input-group-btn,
.select2-default-prepend .input-group-btn .btn {vertical-align:top;}

.form-control.select2-hidden-accessible {position:absolute!important;width:1px!important;}

.form-inline .select2-container--default {display:inline-block;}

.select2-loading {position:relative;background-image:none!important;display:block;width:100%!important;height:calc(1.5em + 1.3rem + 2px)!important;padding:0.65rem 1rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff!important;/*background-clip:padding-box;background-position:center left 1rem;*/border:1px solid #e2e5ec;border-radius:4px;}
.select2-loading:before {content:'';position:absolute;box-sizing:border-box;width:16px;height:16px;top:50%;left:1rem;margin-top:-8px;border:2px solid #90efe5;border-top-color:#1bbcab;border-radius:50%;-webkit-animation:kt-spinner .5s linear infinite;animation:kt-spinner .5s linear infinite;}
